
/* .footer-section{
    max-width: 768px;
} */

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 108px;

    gap: 24px;
}




.footer-discription-wrapper {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.page-logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio-footer {
    color: #f4f4fd;
    line-height: 1.17;
    display: inline-block;
    text-transform: uppercase;
}

.footer-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.footer-section {
    background-color: #2e2f42;
    padding: 96px 0;
}



.footer-social-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
}

.footer-social-discription {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.footer-list-social {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.footer-list-social-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-social-item-link:hover,
.footer-list-social-item-link:focus {
    background-color: #31d0aa;
}

.footer-list-social-item-icon {
    fill: #f4f4fd;
}

.footer-form-container {
    margin: 0px;
    display: flex;

}


.footer-form-head-text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}

.footer-form {
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    gap: 24px;
}



.footer-form-input {
    max-width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;

    border-radius: 4px;
    color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
}

.footer-form-input::placeholder {
    color: #ffffff;
}

.footer-form-btn {
    max-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.footer-form-icon {
    margin-left: 16px;
}