
@media screen {
    /*=========="DEFAULT" STYLE SET MOBILE==============*/

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }

    button {
        cursor: pointer;
        font-family: inherit;
        color: currentColor;
    }

    input {
        font-family: inherit;
    }

    fieldset {
        padding: 0;
        margin: 0;
        border: none;
    }

    img {
        display: block;
    }

    body {
        Font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        background-color: #ffffff;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .container {
        max-width: 318px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    

    .section-title{
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11111;
            text-align: center;
            color: #2e2f42;
    }

        .section {
            padding-top: 96px;
            padding-bottom: 96px;
        }

            
}
/*==========/"DEFAULT" STYLE SET MOBILE==============*/


/*===========PAGE HEADER STYLE MOBILE==============*/
.menu-nav{
    display:none;
}

.page-address{
    display:none;
}



.page-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    margin-bottom: 0;
}

.logo-studio-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}


/*===========/PAGE HEADER STYLE MOBILE==============*/

@media screen and (max-width:767px){

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

.mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.mobile-menu-open-btn-icon {
    fill: #2f2f37;
}

/*===========MENU STYLE MOBILE==============*/
.mobile-menu{
    opacity: 0;
    pointer-events:none;
}

.mobile-menu.is-open {
    opacity: 1;
    pointer-events: auto;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #fff;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
    position: relative;
    height: 100%;
    padding-top: 72px;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    line-height: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
}

.mobile-menu-nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
}

.mobile-menu-nav-item {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;

}

.mobile-menu-nav-item:first-child .mobile-menu-nav-link {
    color: #404bbf;
}

.mobile-menu-nav-link {
    color: #2e2f42;
}

.mobile-page-address {
    display: flex;
    margin-bottom: 40px;
}

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-page-address {
    font-style: normal;
}

.mobile-contacts-list-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-contacts-list-item:first-child .mobile-contacts-list-link {
    color: #4d5ae5;
}

.mobile-menu-list-social {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
    align-items: center;
}

.mobile-menu-list-social-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-item-link:hover,
.mobile-menu-social-item-link:focus {
    background-color: #31d0aa;
}

.mobile-menu-list-social-item-icon {
    fill: #f4f4fd;
}


/*===========/MENU STYLE MOBILE==============*/
}

@media screen and (min-width: 768px){
    /*=========="DEFAULT" STYLE SET TABLET==============*/

/* .section-title {
    } */

/* .section {
    } */
    .mobile-menu{
        display:none;
    }

    .mobile-menu.is-open{
        display: none;
    }

    .mobile-menu-open-btn{
        display: none;
    }

    .container {
        max-width: 768px;
        display: flex;
}



    /*==========/"DEFAULT" STYLE SET TABLET==============*/



    /*===========PAGE HEADER STYLE TABLET==============*/

/* .page-logo {
} */

/* .logo-studio-header {
} */



.page-header-container {
    padding-top:0;
    padding-bottom:0;
    justify-content: space-between;
}

.page-nav {
    display: flex;
    align-items: center;
        justify-content: space-between;
}

.menu-nav {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
}

.menu-nav-item {
    position: relative;
}

.menu-nav-link {
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    display: block;
    padding: 24px 0 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-item:first-child .menu-nav-link::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.page-address {
    font-style: normal;
    display:flex
}

.contacts-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}


.contacts-list-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #434455;
    color: #434455;
    /* display: block; */
    /* padding-top: 9.5px;
    padding-bottom: 9.5px; */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-link:hover,
.menu-nav-link:focus,
.contacts-list-link:hover,
.contacts-list-link:focus {
    color: #404bbf;
}

    /*===========/PAGE HEADER STYLE TABLET==============*/


}

@media screen and (min-width: 1158px){
/*=========="DEFAULT" STYLE SET DESKTOP==============*/

/* .section-title {
    } */

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container{
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}

    /*==========/"DEFAULT" STYLE SET DESKTOP==============*/


    /*===========PAGE HEADER STYLE DESKTOP==============*/
    
/* .page-logo {
} */

/* .logo-studio-header {
} */


    /*===========/PAGE HEADER STYLE DESKTOP==============*/
    
}